body,
html {
    margin: 0;
    padding: 0;
    background-color: #000;
}
.round {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    margin: 1% 2%;
    padding: 2%;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #232323;
    color: #fff;
}
.round h1 {
    float: right;
}
h1 {
    margin: 0;
    color: #fff;
}
h2 {
    margin: 5px 0;
}
h3 {
    margin: 5px 0;
    margin-bottom: 0px;
}
.before {
    margin-bottom: 10px;
}
.fin h3 {
    color: #fff;
}
.fin {
    width: 100%;
    text-align: center;
    display: block;
    padding: 40px 0;
}
.half_field {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px;
}
.same_row {
    vertical-align: top;
    display: inline-block;
}
.half_field > b {
    display: block;
    margin-bottom: 5px;
}
@media only screen and (max-width: 600px) { 
    .round {
        width: 96%;
    }
}
